parameters:
	ignoreErrors:
		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 3
			path: ../lib/Doctrine/Migrations/AbstractMigration.php

		-
			message: "#^Variable method call on \\$this\\(Doctrine\\\\Migrations\\\\Configuration\\\\AbstractFileConfiguration\\)\\.$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Configuration/AbstractFileConfiguration.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Configuration/Configuration.php

		-
			message: "#^Instanceof between Doctrine\\\\DBAL\\\\Connection and Doctrine\\\\DBAL\\\\Connections\\\\MasterSlaveConnection will always evaluate to false\\.$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Configuration/Configuration.php

		-
			message: "#^Variable property access on SimpleXMLElement\\.$#"
			count: 10
			path: ../lib/Doctrine/Migrations/Configuration/XmlConfiguration.php

		-
			message: "#^Method Doctrine\\\\Migrations\\\\Finder\\\\Finder\\:\\:loadMigrationClasses\\(\\) return type with generic class ReflectionClass does not specify its types\\: T$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Finder/Finder.php

		-
			message: "#^Method Doctrine\\\\Migrations\\\\Finder\\\\Finder\\:\\:isReflectionClassInNamespace\\(\\) has parameter \\$reflectionClass with generic class ReflectionClass but does not specify its types\\: T$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Finder/Finder.php

		-
			message: "#^Parameter \\#1 \\$files of method Doctrine\\\\Migrations\\\\Finder\\\\Finder\\:\\:loadMigrations\\(\\) expects array\\<string\\>, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Finder/GlobFinder.php

		-
			message: "#^Anonymous function should have native return typehint \"bool\"\\.$#"
			count: 1
			path: ../lib/Doctrine/Migrations/MigrationPlanCalculator.php

		-
			message:
				"""
					#^Call to deprecated method fetchColumn\\(\\) of class Doctrine\\\\DBAL\\\\Connection\\:
					Use fetchOne\\(\\) instead\\.$#
				"""
			count: 2
			path: ../lib/Doctrine/Migrations/MigrationRepository.php

		-
			message:
				"""
					#^Call to deprecated method fetchAssoc\\(\\) of class Doctrine\\\\DBAL\\\\Connection\\:
					Use fetchAssociative\\(\\)$#
				"""
			count: 1
			path: ../lib/Doctrine/Migrations/MigrationRepository.php

		-
			message:
				"""
					#^Call to deprecated method fetchAll\\(\\) of class Doctrine\\\\DBAL\\\\Connection\\:
					Use fetchAllAssociative\\(\\)$#
				"""
			count: 1
			path: ../lib/Doctrine/Migrations/MigrationRepository.php

		-
			message: "#^Call to function is_bool\\(\\) with bool will always evaluate to true\\.$#"
			count: 1
			path: ../lib/Doctrine/Migrations/ParameterFormatter.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: ../lib/Doctrine/Migrations/ParameterFormatter.php

		-
			message: "#^Anonymous function should have native return typehint \"bool\"\\.$#"
			count: 2
			path: ../lib/Doctrine/Migrations/Provider/LazySchemaDiffProvider.php

		-
			message: "#^Anonymous function should have native return typehint \"int\\<\\-1, 1\\>\"\\.$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Provider/OrmSchemaProvider.php

		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Command/AbstractCommand.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Command/AbstractCommand.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and null will always evaluate to true\\.$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Command/AbstractCommand.php

		-
			message: "#^Return type \\(int\\|null\\) of method Doctrine\\\\Migrations\\\\Tools\\\\Console\\\\Command\\\\DiffCommand\\:\\:execute\\(\\) should be covariant with return type \\(int\\) of method Symfony\\\\Component\\\\Console\\\\Command\\\\Command\\:\\:execute\\(\\)$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Command/DiffCommand.php

		-
			message: "#^Return type \\(int\\|null\\) of method Doctrine\\\\Migrations\\\\Tools\\\\Console\\\\Command\\\\DumpSchemaCommand\\:\\:execute\\(\\) should be covariant with return type \\(int\\) of method Symfony\\\\Component\\\\Console\\\\Command\\\\Command\\:\\:execute\\(\\)$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Command/DumpSchemaCommand.php

		-
			message: "#^Return type \\(int\\|null\\) of method Doctrine\\\\Migrations\\\\Tools\\\\Console\\\\Command\\\\ExecuteCommand\\:\\:execute\\(\\) should be covariant with return type \\(int\\) of method Symfony\\\\Component\\\\Console\\\\Command\\\\Command\\:\\:execute\\(\\)$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Command/ExecuteCommand.php

		-
			message: "#^Return type \\(int\\|null\\) of method Doctrine\\\\Migrations\\\\Tools\\\\Console\\\\Command\\\\GenerateCommand\\:\\:execute\\(\\) should be covariant with return type \\(int\\) of method Symfony\\\\Component\\\\Console\\\\Command\\\\Command\\:\\:execute\\(\\)$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Command/GenerateCommand.php

		-
			message: "#^Return type \\(int\\|null\\) of method Doctrine\\\\Migrations\\\\Tools\\\\Console\\\\Command\\\\LatestCommand\\:\\:execute\\(\\) should be covariant with return type \\(int\\) of method Symfony\\\\Component\\\\Console\\\\Command\\\\Command\\:\\:execute\\(\\)$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Command/LatestCommand.php

		-
			message: "#^Return type \\(int\\|null\\) of method Doctrine\\\\Migrations\\\\Tools\\\\Console\\\\Command\\\\MigrateCommand\\:\\:execute\\(\\) should be covariant with return type \\(int\\) of method Symfony\\\\Component\\\\Console\\\\Command\\\\Command\\:\\:execute\\(\\)$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Command/MigrateCommand.php

		-
			message: "#^Return type \\(int\\|null\\) of method Doctrine\\\\Migrations\\\\Tools\\\\Console\\\\Command\\\\RollupCommand\\:\\:execute\\(\\) should be covariant with return type \\(int\\) of method Symfony\\\\Component\\\\Console\\\\Command\\\\Command\\:\\:execute\\(\\)$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Command/RollupCommand.php

		-
			message: "#^Return type \\(int\\|null\\) of method Doctrine\\\\Migrations\\\\Tools\\\\Console\\\\Command\\\\StatusCommand\\:\\:execute\\(\\) should be covariant with return type \\(int\\) of method Symfony\\\\Component\\\\Console\\\\Command\\\\Command\\:\\:execute\\(\\)$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Command/StatusCommand.php

		-
			message: "#^Return type \\(int\\|null\\) of method Doctrine\\\\Migrations\\\\Tools\\\\Console\\\\Command\\\\UpToDateCommand\\:\\:execute\\(\\) should be covariant with return type \\(int\\) of method Symfony\\\\Component\\\\Console\\\\Command\\\\Command\\:\\:execute\\(\\)$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Command/UpToDateCommand.php

		-
			message: "#^Return type \\(int\\|null\\) of method Doctrine\\\\Migrations\\\\Tools\\\\Console\\\\Command\\\\VersionCommand\\:\\:execute\\(\\) should be covariant with return type \\(int\\) of method Symfony\\\\Component\\\\Console\\\\Command\\\\Command\\:\\:execute\\(\\)$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Command/VersionCommand.php

		-
			message: "#^Offset 'extension' does not exist on array\\('dirname' \\=\\> string, 'basename' \\=\\> string, 'filename' \\=\\> string, \\?'extension' \\=\\> string\\)\\.$#"
			count: 2
			path: ../lib/Doctrine/Migrations/Tools/Console/Helper/ConfigurationHelper.php

		-
			message: "#^Call to deprecated method getName\\(\\) of class Doctrine\\\\DBAL\\\\Driver\\.$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Helper/MigrationStatusInfosHelper.php

		-
			message: "#^Call to deprecated method getHost\\(\\) of class Doctrine\\\\DBAL\\\\Connection\\.$#"
			count: 1
			path: ../lib/Doctrine/Migrations/Tools/Console/Helper/MigrationStatusInfosHelper.php

		-
			message: "#^Variable method call on Doctrine\\\\Migrations\\\\AbstractMigration\\.$#"
			count: 3
			path: ../lib/Doctrine/Migrations/Version/Executor.php

		-
			message: "#^Trying to mock an undefined method ensureConnectedToPrimary\\(\\) on class Doctrine\\\\DBAL\\\\Connections\\\\MasterSlaveConnection\\.$#"
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Configuration/ConfigurationTest.php

		-
			message: "#^Variable method call on Doctrine\\\\Migrations\\\\Configuration\\\\Configuration\\.$#"
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Configuration/ConfigurationTest.php

		-
			message:
				"""
					#^Call to deprecated method assertRegExp\\(\\) of class PHPUnit\\\\Framework\\\\Assert\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4086$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Configuration/ConfigurationTest.php

		-
			message:
				"""
					#^Fetching class constant class of deprecated class Doctrine\\\\DBAL\\\\Connections\\\\MasterSlaveConnection\\:
					Use PrimaryReadReplicaConnection instead$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Configuration/ConfigurationTest.php

		-
			message:
				"""
					#^Instantiation of deprecated class Doctrine\\\\DBAL\\\\Driver\\\\IBMDB2\\\\DB2Driver\\:
					Use \\{@link Driver\\} instead$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Configuration/ConfigurationTest.php

		-
			message:
				"""
					#^Call to deprecated method assertRegExp\\(\\) of class PHPUnit\\\\Framework\\\\Assert\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4086$#
				"""
			count: 10
			path: ../tests/Doctrine/Migrations/Tests/Functional/CliTest.php

		-
			message:
				"""
					#^Instantiation of deprecated class Doctrine\\\\DBAL\\\\Tools\\\\Console\\\\Helper\\\\ConnectionHelper\\:
					use a ConnectionProvider instead\\.$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Functional/CliTest.php

		-
			message: "#^Parameter \\#1 \\$argument of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string\\|false given\\.$#"
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Functional/CliTest.php

		-
			message:
				"""
					#^Call to deprecated method fetchAll\\(\\) of class Doctrine\\\\DBAL\\\\Connection\\:
					Use fetchAllAssociative\\(\\)$#
				"""
			count: 3
			path: ../tests/Doctrine/Migrations/Tests/Functional/FunctionalTest.php

		-
			message:
				"""
					#^Call to deprecated method fetchColumn\\(\\) of class Doctrine\\\\DBAL\\\\Connection\\:
					Use fetchOne\\(\\) instead\\.$#
				"""
			count: 2
			path: ../tests/Doctrine/Migrations/Tests/Functional/FunctionalTest.php

		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 2
			path: ../tests/Doctrine/Migrations/Tests/Functional/FunctionalTest.php

		-
			message: "#^Instanceof between Doctrine\\\\DBAL\\\\Connection and Doctrine\\\\DBAL\\\\Connection will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Functional/FunctionalTest.php

		-
			message: "#^Instanceof between Doctrine\\\\Migrations\\\\Configuration\\\\Configuration and Doctrine\\\\Migrations\\\\Configuration\\\\Configuration will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Functional/FunctionalTest.php

		-
			message:
				"""
					#^Call to deprecated method exec\\(\\) of class Doctrine\\\\DBAL\\\\Connection\\:
					Use \\{@link executeStatement\\(\\)\\} instead\\.$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Functional/FunctionalTest.php

		-
			message:
				"""
					#^Call to deprecated method fetchAssoc\\(\\) of class Doctrine\\\\DBAL\\\\Connection\\:
					Use fetchAssociative\\(\\)$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Functional/FunctionalTest.php

		-
			message: "#^Anonymous function should have native return typehint \"bool\"\\.$#"
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Generator/DiffGeneratorTest.php

		-
			message:
				"""
					#^Call to deprecated method at\\(\\) of class PHPUnit\\\\Framework\\\\TestCase\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4297$#
				"""
			count: 6
			path: ../tests/Doctrine/Migrations/Tests/Generator/DiffGeneratorTest.php

		-
			message: "#^Parameter \\#2 \\$input1 of function array_map expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Helper.php

		-
			message: "#^Class Doctrine\\\\Migrations\\\\Tests\\\\DoesNotExistAtAll not found\\.$#"
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/MigrationRepositoryTest.php

		-
			message: "#^Method Doctrine\\\\Migrations\\\\Tests\\\\MigrationTestCase\\:\\:getSqlFilesList\\(\\) should return array\\<string\\> but returns array\\<int, string\\>\\|false\\.$#"
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/MigrationTestCase.php

		-
			message:
				"""
					#^Call to deprecated method setMethods\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\:
					https\\://github\\.com/sebastianbergmann/phpunit/pull/3687$#
				"""
			count: 3
			path: ../tests/Doctrine/Migrations/Tests/MigratorTest.php

		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 2
			path: ../tests/Doctrine/Migrations/Tests/MigratorTest.php

		-
			message: "#^Instanceof between \\*NEVER\\* and PHPUnit\\\\Framework\\\\MockObject\\\\MockObject will always evaluate to false\\.$#"
			count: 2
			path: ../tests/Doctrine/Migrations/Tests/MigratorTest.php

		-
			message: "#^Instanceof between Doctrine\\\\Migrations\\\\Migrator&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject and Doctrine\\\\Migrations\\\\Migrator will always evaluate to true\\.$#"
			count: 2
			path: ../tests/Doctrine/Migrations/Tests/MigratorTest.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 2
			path: ../tests/Doctrine/Migrations/Tests/MigratorTest.php

		-
			message:
				"""
					#^Fetching deprecated class constant STRING of class Doctrine\\\\DBAL\\\\Types\\\\Type\\:
					Use \\{@see Types\\:\\:STRING\\} instead\\.$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/ParameterFormatterTest.php

		-
			message:
				"""
					#^Fetching deprecated class constant INTEGER of class Doctrine\\\\DBAL\\\\Types\\\\Type\\:
					Use \\{@see Types\\:\\:INTEGER\\} instead\\.$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/ParameterFormatterTest.php

		-
			message:
				"""
					#^Fetching deprecated class constant SIMPLE_ARRAY of class Doctrine\\\\DBAL\\\\Types\\\\Type\\:
					Use \\{@see Types\\:\\:SIMPLE_ARRAY\\} instead\\.$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/ParameterFormatterTest.php

		-
			message:
				"""
					#^Fetching deprecated class constant BOOLEAN of class Doctrine\\\\DBAL\\\\Types\\\\Type\\:
					Use \\{@see Types\\:\\:BOOLEAN\\} instead\\.$#
				"""
			count: 2
			path: ../tests/Doctrine/Migrations/Tests/ParameterFormatterTest.php

		-
			message:
				"""
					#^Call to deprecated method at\\(\\) of class PHPUnit\\\\Framework\\\\TestCase\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4297$#
				"""
			count: 2
			path: ../tests/Doctrine/Migrations/Tests/SchemaDumperTest.php

		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 2
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/AbstractCommandTest.php

		-
			message: "#^Instanceof between Doctrine\\\\Migrations\\\\Tools\\\\Console\\\\Command\\\\AbstractCommand&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject and Doctrine\\\\Migrations\\\\Tools\\\\Console\\\\Command\\\\AbstractCommand will always evaluate to true\\.$#"
			count: 2
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/AbstractCommandTest.php

		-
			message:
				"""
					#^Instantiation of deprecated class Doctrine\\\\DBAL\\\\Tools\\\\Console\\\\Helper\\\\ConnectionHelper\\:
					use a ConnectionProvider instead\\.$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/AbstractCommandTest.php

		-
			message:
				"""
					#^Call to deprecated method setMethods\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\:
					https\\://github\\.com/sebastianbergmann/phpunit/pull/3687$#
				"""
			count: 8
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/AbstractCommandTest.php

		-
			message: "#^Call to deprecated method getName\\(\\) of class Doctrine\\\\DBAL\\\\Driver\\.$#"
			count: 2
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/AbstractCommandTest.php

		-
			message:
				"""
					#^Call to deprecated method at\\(\\) of class PHPUnit\\\\Framework\\\\TestCase\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4297$#
				"""
			count: 7
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/DiffCommandTest.php

		-
			message:
				"""
					#^Call to deprecated method setMethods\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\:
					https\\://github\\.com/sebastianbergmann/phpunit/pull/3687$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/DiffCommandTest.php

		-
			message:
				"""
					#^Call to deprecated method at\\(\\) of class PHPUnit\\\\Framework\\\\TestCase\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4297$#
				"""
			count: 3
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/DumpSchemaCommandTest.php

		-
			message:
				"""
					#^Call to deprecated method at\\(\\) of class PHPUnit\\\\Framework\\\\TestCase\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4297$#
				"""
			count: 12
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/ExecuteCommandTest.php

		-
			message:
				"""
					#^Call to deprecated method setMethods\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\:
					https\\://github\\.com/sebastianbergmann/phpunit/pull/3687$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/ExecuteCommandTest.php

		-
			message:
				"""
					#^Call to deprecated method setMethods\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\:
					https\\://github\\.com/sebastianbergmann/phpunit/pull/3687$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/GenerateCommandTest.php

		-
			message:
				"""
					#^Call to deprecated method at\\(\\) of class PHPUnit\\\\Framework\\\\TestCase\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4297$#
				"""
			count: 20
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/MigrateCommandTest.php

		-
			message:
				"""
					#^Call to deprecated method setMethods\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\:
					https\\://github\\.com/sebastianbergmann/phpunit/pull/3687$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/MigrateCommandTest.php

		-
			message:
				"""
					#^Call to deprecated method setMethods\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\:
					https\\://github\\.com/sebastianbergmann/phpunit/pull/3687$#
				"""
			count: 3
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/MigrationStatusTest.php

		-
			message: "#^Anonymous function should have native return typehint \"\\?string\"\\.$#"
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/MigrationStatusTest.php

		-
			message:
				"""
					#^Call to deprecated method assertRegExp\\(\\) of class PHPUnit\\\\Framework\\\\Assert\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4086$#
				"""
			count: 7
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/MigrationStatusTest.php

		-
			message:
				"""
					#^Call to deprecated method setMethods\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\:
					https\\://github\\.com/sebastianbergmann/phpunit/pull/3687$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/MigrationVersionTest.php

		-
			message:
				"""
					#^Call to deprecated method at\\(\\) of class PHPUnit\\\\Framework\\\\TestCase\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4297$#
				"""
			count: 8
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Command/StatusCommandTest.php

		-
			message: "#^Call to an undefined method Doctrine\\\\Migrations\\\\Configuration\\\\Connection\\\\Loader\\\\ConnectionConfigurationChainLoader\\|PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:expects\\(\\)\\.$#"
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/ConnectionLoaderTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\MockObject\\\\Builder\\\\InvocationMocker\\<mixed\\>\\:\\:willReturn\\(\\) with incorrect case\\: wilLReturn$#"
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/ConnectionLoaderTest.php

		-
			message:
				"""
					#^Call to deprecated method setMethods\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\:
					https\\://github\\.com/sebastianbergmann/phpunit/pull/3687$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/ConnectionLoaderTest.php

		-
			message:
				"""
					#^Call to deprecated method setMethods\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\:
					https\\://github\\.com/sebastianbergmann/phpunit/pull/3687$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Tools/Console/Helper/ConfigurationHelperTest.php

		-
			message:
				"""
					#^Call to deprecated method setMethods\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\:
					https\\://github\\.com/sebastianbergmann/phpunit/pull/3687$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Tracking/TableManipulatorTest.php

		-
			message:
				"""
					#^Call to deprecated method at\\(\\) of class PHPUnit\\\\Framework\\\\TestCase\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4297$#
				"""
			count: 4
			path: ../tests/Doctrine/Migrations/Tests/Tracking/TableStatusTest.php

		-
			message:
				"""
					#^Call to deprecated method at\\(\\) of class PHPUnit\\\\Framework\\\\TestCase\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4297$#
				"""
			count: 4
			path: ../tests/Doctrine/Migrations/Tests/Tracking/TableUpdaterTest.php

		-
			message:
				"""
					#^Call to deprecated method setMethods\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\:
					https\\://github\\.com/sebastianbergmann/phpunit/pull/3687$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Tracking/TableUpdaterTest.php

		-
			message:
				"""
					#^Call to deprecated method at\\(\\) of class PHPUnit\\\\Framework\\\\TestCase\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4297$#
				"""
			count: 14
			path: ../tests/Doctrine/Migrations/Tests/Version/ExecutorTest.php

		-
			message:
				"""
					#^Call to deprecated method setMethods\\(\\) of class PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\:
					https\\://github\\.com/sebastianbergmann/phpunit/pull/3687$#
				"""
			count: 4
			path: ../tests/Doctrine/Migrations/Tests/Version/VersionTest.php

		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 3
			path: ../tests/Doctrine/Migrations/Tests/Version/VersionTest.php

		-
			message: "#^Instanceof between \\*NEVER\\* and PHPUnit\\\\Framework\\\\MockObject\\\\MockObject will always evaluate to false\\.$#"
			count: 3
			path: ../tests/Doctrine/Migrations/Tests/Version/VersionTest.php

		-
			message: "#^Instanceof between Doctrine\\\\Migrations\\\\Configuration\\\\Configuration&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject and Doctrine\\\\Migrations\\\\Configuration\\\\Configuration will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Version/VersionTest.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 3
			path: ../tests/Doctrine/Migrations/Tests/Version/VersionTest.php

		-
			message: "#^Instanceof between Doctrine\\\\Migrations\\\\Version\\\\Version&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject and Doctrine\\\\Migrations\\\\Version\\\\Version will always evaluate to true\\.$#"
			count: 2
			path: ../tests/Doctrine/Migrations/Tests/Version/VersionTest.php

		-
			message:
				"""
					#^Call to deprecated method assertRegExp\\(\\) of class PHPUnit\\\\Framework\\\\Assert\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4086$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Version/VersionTest.php

		-
			message:
				"""
					#^Call to deprecated method assertNotRegExp\\(\\) of class PHPUnit\\\\Framework\\\\Assert\\:
					https\\://github\\.com/sebastianbergmann/phpunit/issues/4089$#
				"""
			count: 1
			path: ../tests/Doctrine/Migrations/Tests/Version/VersionTest.php

