{
    "alias": "doctrine-migrations.phar",
    "compactors": [
        "Herrera\\Box\\Compactor\\Php",
        "Herrera\\Box\\Compactor\\Json"
    ],
    "compression": "GZ",
    "main": "bin/doctrine-migrations.php",
    "output": "build/doctrine-migrations.phar",
    "files-bin": [
        "LICENSE"
    ],
    "git-version": "git-version"
}
