parameters:
    ignoreErrors:
        # Ignore proxy manager magic
        - '#ProxyManager\\Proxy\\VirtualProxyInterface#'

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
