parameters:
    level: 7
    paths:
        - lib
        - tests
    excludePaths:
        - tests/Doctrine/Migrations/Tests/Configuration/ConfigurationTestSource/Migrations/Version123.php
        - tests/Doctrine/Migrations/Tests/Tools/Console/legacy-config-orm/cli-config.php
    ignoreErrors:
        - '~Variable method call on Doctrine\\Migrations\\AbstractMigration~'
        -
            message: '~^Call to function in_array\(\) requires parameter #3 to be true\.$~'
            path: lib/Doctrine/Migrations/Version/SortedMigrationPlanCalculator.php
        -
            message: '~^Variable property access on SimpleXMLElement\.$~'
            path: lib/Doctrine/Migrations/Configuration/Migration/XmlFile.php
        -
            message: '~^Call to function is_bool\(\) with bool will always evaluate to true\.$~'
            path: lib/Doctrine/Migrations/InlineParameterFormatter.php
        -
            message: '~^Call to an undefined method Symfony\\Component\\Console\\Output\\OutputInterface\:\:getErrorOutput\(\)\.$~'
            path: lib/Doctrine/Migrations/Tools/Console/ConsoleLogger.php

        # https://github.com/phpstan/phpstan/issues/5982
        -
            message: '~^Cannot call method getWrappedConnection\(\) on class-string\|object\.~'
            path: lib/Doctrine/Migrations/Tools/TransactionHelper.php

        # TODO: Be more precise about class-strings
        -
            message: '~^Method Doctrine\\Migrations\\Version\\DbalMigrationFactory::createVersion\(\) should return Doctrine\\Migrations\\AbstractMigration but returns object\.$~'
            paths:
                - lib/Doctrine/Migrations/Version/DbalMigrationFactory.php

        # ORM 2 + DBAL 3 backwards compatibility
        -
            message: '~^Call to an undefined method Doctrine\\DBAL\\Connection\:\:getEventManager\(\)\.$~'
            path: lib/Doctrine/Migrations/DependencyFactory.php

        -
            message: '~^Strict comparison using !== between callable\(\)\: mixed and null will always evaluate to true\.$~'
            path: lib/Doctrine/Migrations/Generator/DiffGenerator.php

        -
            message: '~Doctrine\\ORM\\Tools\\Console\\Helper\\EntityManagerHelper~'
            path: lib/Doctrine/Migrations/Tools/Console/ConsoleRunner.php

    symfony:
            console_application_loader: tests/Doctrine/Migrations/Tests/doctrine-migrations-phpstan-app.php
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
