includes:
    - phpstan-common.neon.dist

parameters:
    ignoreErrors:

        -
            message: '~^Fetching class constant class of deprecated class Doctrine\\DBAL\\Tools\\Console\\Helper\\ConnectionHelper~'
            path: %currentWorkingDirectory%/tests/Doctrine/Migrations/Tests/Tools/Console/ConsoleRunnerTest.php

        -
            message: "~^Casting to string something that's already string~"
            path: %currentWorkingDirectory%/lib/Doctrine/Migrations/Tools/Console/Command/*Command.php

        -
            message: '~^Instantiation of deprecated class~'
            paths:
                - tests/Doctrine/Migrations/Tests/Tools/Console/legacy-config-dbal/cli-config.php
                - tests/Doctrine/Migrations/Tests/Tools/Console/legacy-config-wrong/cli-config.php

        -
            message: '~.*AbstractSchemaManager.*is not generic\.$~'
            paths:
                - lib/Doctrine/Migrations/SchemaDumper.php
                - lib/Doctrine/Migrations/AbstractMigration.php
                - lib/Doctrine/Migrations/DependencyFactory.php
                - lib/Doctrine/Migrations/Generator/DiffGenerator.php
                - lib/Doctrine/Migrations/Metadata/Storage/TableMetadataStorage.php
                - lib/Doctrine/Migrations/Provider/DBALSchemaDiffProvider.php
                - lib/Doctrine/Migrations/Provider/EmptySchemaProvider.php
                - tests/Doctrine/Migrations/Tests/Generator/DiffGeneratorTest.php
                - tests/Doctrine/Migrations/Tests/Metadata/Storage/ExistingTableMetadataStorageTest.php
                - tests/Doctrine/Migrations/Tests/Metadata/Storage/TableMetadataStorageTest.php
                - tests/Doctrine/Migrations/Tests/Provider/EmptySchemaProviderTest.php
                - tests/Doctrine/Migrations/Tests/SchemaDumperTest.php

        - '~Trying to mock an undefined method getNativeConnection\(\) on class Doctrine\\DBAL\\Connection~'

        -
            message: '~^Expression on left side of \?\? is not nullable\.$~'
            paths:
                - lib/Doctrine/Migrations/Tools/Console/Command/RollupCommand.php
