includes:
    - phpstan-common.neon.dist

parameters:

    ignoreErrors:
        - "~Call to function method_exists\\(\\) with Doctrine\\\\DBAL\\\\Connection and 'createSchemaManager' will always evaluate to true~"
        - '~^Call to deprecated method getSchemaManager\(\) of class Doctrine\\DBAL\\Connection~'
        -
            message: '~^Parameter.* class Symfony\\Component\\Console\\Helper\\HelperSet constructor expects ~'
            paths:
                - tests/Doctrine/Migrations/Tests/Tools/Console/legacy-config-dbal/cli-config.php
                - tests/Doctrine/Migrations/Tests/Tools/Console/legacy-config-wrong/cli-config.php
        -
            message: '~^Class Doctrine\\DBAL\\Tools\\Console\\Helper\\ConnectionHelper not found~'
            path: lib/Doctrine/Migrations/Tools/Console/ConsoleRunner.php
        -
            message: '~^Call to method getConnection\(\) on an unknown class Doctrine\\DBAL\\Tools\\Console\\Helper\\ConnectionHelper~'
            path: lib/Doctrine/Migrations/Tools/Console/ConsoleRunner.php
        -
            message: '~Instantiated class Doctrine\\DBAL\\Tools\\Console\\Helper\\ConnectionHelper not found~'
            paths:
                - tests/Doctrine/Migrations/Tests/Tools/Console/legacy-config-dbal/cli-config.php
                - tests/Doctrine/Migrations/Tests/Tools/Console/legacy-config-wrong/cli-config.php

        # Compatibility with DBAL 2
        -
            message: '~Call to deprecated method getMigrate(From|ToSql)~'
            paths:
                - lib/Doctrine/Migrations/Generator/DiffGenerator.php
                - lib/Doctrine/Migrations/Provider/DBALSchemaDiffProvider.php

        -
            message: '~Call to deprecated method getWrappedConnection~'
            paths:
                - tests/Doctrine/Migrations/Tests/Metadata/Storage/TableMetadataStorageTest.php

        -
            message: "~Call to function method_exists.*'getNativeConnection' will always evaluate to true.~"
            path: tests/Doctrine/Migrations/Tests/Metadata/Storage/TableMetadataStorageTest.php

        -
            message: "~Call to function method_exists.*'createComparator' will always evaluate to true.~"
            paths:
                - lib/Doctrine/Migrations/Generator/DiffGenerator.php
                - lib/Doctrine/Migrations/Provider/DBALSchemaDiffProvider.php
                - lib/Doctrine/Migrations/Metadata/Storage/TableMetadataStorage.php
                - tests/Doctrine/Migrations/Tests/Generator/DiffGeneratorTest.php
                - tests/Doctrine/Migrations/Tests/Tools/Console/Command/MigrateCommandTest.php

        # That method will no longer be static in the future
        -
            message: '~Dynamic call to static method Doctrine\\DBAL\\Schema\\Comparator\:\:compareSchemas\(\)\.~'
            paths:
                - lib/Doctrine/Migrations/Generator/DiffGenerator.php
                - lib/Doctrine/Migrations/Provider/DBALSchemaDiffProvider.php

        # Switch to Logging\Connection after dropping compatibility with DBAL 2
        -
            message: '~deprecated.*DebugStack~'
            path: tests/Doctrine/Migrations/Tests/Metadata/Storage/TableMetadataStorageTest.php
