parameters:
    level: 7
    paths:
        - lib
        - tests
    excludePaths:
        - tests/Doctrine/Migrations/Tests/Configuration/ConfigurationTestSource/Migrations/Version123.php
    ignoreErrors:
        - '~Variable method call on Doctrine\\Migrations\\AbstractMigration~'
        -
            message: '~^Call to function in_array\(\) requires parameter #3 to be true\.$~'
            path: lib/Doctrine/Migrations/Version/SortedMigrationPlanCalculator.php
        -
            message: '~^Variable property access on SimpleXMLElement\.$~'
            path: lib/Doctrine/Migrations/Configuration/Migration/XmlFile.php

        -
            message: '~^Call to function is_bool\(\) with bool will always evaluate to true\.$~'
            path: lib/Doctrine/Migrations/InlineParameterFormatter.php
        -
            message: '~^Call to an undefined method Symfony\\Component\\Console\\Output\\OutputInterface\:\:getErrorOutput\(\)\.$~'
            path: lib/Doctrine/Migrations/Tools/Console/ConsoleLogger.php
        -
            message: '~^Method Doctrine\\Migrations\\Tests\\Stub\\DoctrineRegistry::getService\(\) should return Doctrine\\Persistence\\ObjectManager but returns Doctrine\\DBAL\\Connection\|Doctrine\\ORM\\EntityManager~'
            path: tests/Doctrine/Migrations/Tests/Stub/DoctrineRegistry.php

        # https://github.com/phpstan/phpstan/issues/5982
        -
            message: '~^Cannot call method getWrappedConnection\(\) on class-string\|object\.~'
            path: lib/Doctrine/Migrations/Tools/TransactionHelper.php

        # Requires PHPUnit 9
        -
            message: '~assert.*Reg~'
            paths:
                - tests/Doctrine/Migrations/Tests/Generator/ClassNameGeneratorTest.php


    symfony:
            console_application_loader: %currentWorkingDirectory%/tests/Doctrine/Migrations/Tests/doctrine-migrations-phpstan-app.php
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
